doctype html
html
  head
    title= title

    // VENDOR
    // THREE.js, TWEEN (needs to move)
    // script(src='http://nabu.sense-studios.com/assets/tween/tween.js')
    script(src='/javascripts/vendor/tween.js')
    // script(src='http://nabu.sense-studios.com/assets/threejs/three.js')
    script(src='/javascripts/vendor/three.js')

    // Gif source helpers    )
    script(src='/javascripts/vendor/gif/libgif.js')
    script(src='/javascripts/vendor/gif/rubbable.js')

    // JQUERY, need to update my requests, sorry
    // script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=' crossorigin='anonymous')
    // script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='/javascripts/vendor/jquery.js')
    
    // Experimental, bodymovin for SVG
    // https://github.com/airbnb/lottie-web
    // https://codepen.io/airnan/project/editor/ZeNONO
    // script(src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.js')
    script(src='/javascripts/vendor/bodymovin.js')

    // Some PROGRAMS from the marduq Database
    script(src='/sets/programs.js')

    // FIREBASE
    // Firebase (remove)
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js')

    // SOURCES        
    // Sources
    script(src='/javascripts/src/sources/_source.js')
    script(src='/javascripts/src/sources/GifSource.js')
    script(src='/javascripts/src/sources/VideoSource.js')
    script(src='/javascripts/src/sources/SolidSource.js')
    script(src='/javascripts/src/sources/TextSource.js')

    // MODULES
    script(src='/javascripts/src/modules/Chain.js')
    script(src='/javascripts/src/modules/Mixer.js')
    script(src='/javascripts/src/modules/Switcher.js')
    script(src='/javascripts/src/modules/Output.js')

    // CONTROLLERS
    script(src='/javascripts/src/controllers/GamePad.js')
    script(src='/javascripts/src/controllers/FireBaseControl.js')
    script(src='/javascripts/src/controllers/NumPadBPMMixerControl.js')

    // EFFECTS
    script(src='/javascripts/src/effects/BlackAndWhite.js')

    // ADD-ONS
    script(src='/javascripts/src/addons/BPM.js')
    script(src='/javascripts/src/addons/FileManager.js')
    script(src='/javascripts/src/addons/GiphyManager.js')

    // RENDERER
    script(src='/javascripts/src/GlRenderer.js')


  body
    block content
