doctype html
html
  head
    title= title

    // THREE.js, TWEEN (needs to move)
    script(src='http://nabu.sense-studios.com/assets/tween/tween.js')
    script(src='http://nabu.sense-studios.com/assets/threejs/three.js')

    // JQUERY, need to update my requests, sorry
    // script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')

    // Some PROGRAMS from the marduq Database
    script(src='/javascripts/programs.js')


    // Firebase
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js')
    script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js')

    // Gif source helpers
    script(src='/javascripts/mixer/gif/libgif.js')
    script(src='/javascripts/mixer/gif/rubbable.js')

    // SOURCES
    script(src='/javascripts/mixer/sources/_source.js')
    script(src='/javascripts/mixer/sources/GifSource.js')
    script(src='/javascripts/mixer/sources/VideoSource.js')
    script(src='/javascripts/mixer/sources/SolidSource.js')

    // MODULES
    script(src='/javascripts/mixer/modules/Chain.js')
    script(src='/javascripts/mixer/modules/Mixer.js')
    script(src='/javascripts/mixer/modules/Switcher.js')
    script(src='/javascripts/mixer/modules/Output.js')

    // CONTROLLERS
    script(src='/javascripts/mixer/controllers/GamePad.js')
    script(src='/javascripts/mixer/controllers/FireBaseControl.js')
    script(src='/javascripts/mixer/controllers/NumPadBPMMixerControl.js')

    // EFFECTS
    script(src='/javascripts/mixer/effects/BlackAndWhite.js')

    // ADD-ONS
    script(src='/javascripts/mixer/addons/BPM.js')
    script(src='/javascripts/mixer/addons/FileManager.js')
    script(src='/javascripts/mixer/addons/GiphyManager.js')

    // RENDERER
    script(src='/javascripts/mixer/GlRenderer.js')


  body
    block content
