doctype html
html
  head
    title= title

    // VENDOR
    // THREE.js, TWEEN (needs to move)
    // script(src='http://nabu.sense-studios.com/assets/tween/tween.js')
    // script(src='/javascripts/vendor/tween.js')
    // script(src='http://nabu.sense-studios.com/assets/threejs/three.js')
    script(src='/javascripts/vendor/three.js')

    // Gif source helpers    )
    script(src='/javascripts/vendor/gif/libgif.js')
    script(src='/javascripts/vendor/gif/rubbable.js')

    // JQUERY, need to update my requests, sorry
    // script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=' crossorigin='anonymous')
    // script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    // script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/utils.js')
    
    // Experimental, bodymovin for SVG
    // https://github.com/airbnb/lottie-web
    // https://codepen.io/airnan/project/editor/ZeNONO
    // script(src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.js')
    script(src='/javascripts/vendor/bodymovin.js')
    
    // SOCKET.IO
    script(src='/javascripts/vendor/socket.io.js')

    // Some PROGRAMS from the marduq Database
    script(src='/sets/programs.js')

    // FIREBASE
    // Firebase (remove)
    //script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase.js')
    //script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js')
    //script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js')
    //script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js')
    //script(src='https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js')

    // SOURCES        
    // Sources
    script(src='/javascripts/src/sources/_source.js')
    script(src='/javascripts/src/sources/GifSource.js')
    script(src='/javascripts/src/sources/VideoSource.js')
    script(src='/javascripts/src/sources/MultiVideoSource.js')
    script(src='/javascripts/src/sources/SolidSource.js')
    script(src='/javascripts/src/sources/TextSource.js')
    script(src='/javascripts/src/sources/WebcamSource.js')

    // MODULES
    script(src='/javascripts/src/modules/_module.js')
    script(src='/javascripts/src/modules/Mixer.js')
    script(src='/javascripts/src/modules/Chain.js')    
    script(src='/javascripts/src/modules/Switcher.js')
    script(src='/javascripts/src/modules/Output.js')

    // CONTROLLERS    
    script(src='/javascripts/src/controllers/_controller.js')
    script(src='/javascripts/src/controllers/SocketController.js')
    script(src='/javascripts/src/controllers/MidiController.js')
    script(src='/javascripts/src/controllers/GamePadController.js')
    script(src='/javascripts/src/controllers/KeyboardController.js')    

    // script(src='/javascripts/src/controllers/_vidi.js')
    // script(src='/javascripts/src/controllers/_computerkeyboard.js')
    // script(src='/javascripts/src/controllers/_gamepad.js')
    //script(src='/javascripts/src/controllers/FireBaseController.js')
    
    // script(src='/javascripts/src/controllers/NumPadBPMMixerControl.js')    
    //script(src='/javascripts/src/controllers/Midi_Akai_APCmini.js')
    //script(src='/javascripts/src/controllers/Midi_Akai_MPKmini.js')

    // BEHAVIOURS, WIP
    script(src='/javascripts/src/behaviours/_behaviour.js')

    // EFFECTS, WIP
    script(src='/javascripts/src/effects/_effect.js')
    script(src='/javascripts/src/effects/ColorEffect.js')
    script(src='/javascripts/src/effects/FeedbackEffect.js')
    script(src='/javascripts/src/effects/DistortionEffect.js')

    // ADD-ONS
    script(src='/javascripts/src/addons/_addon.js')
    script(src='/javascripts/src/addons/BPM.js')
    script(src='/javascripts/src/addons/AudioAnalysis.js')
    script(src='/javascripts/src/addons/FileManager.js')
    script(src='/javascripts/src/addons/GiphyManager.js')

    // RENDERER
    script(src='/javascripts/src/GlRenderer.js')

  body
    block content
    
  include partials/analytics
