doctype html
html
  head
    title Awesome Virtual Mixer
      
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/compositions/awesome.css')
    

  body
    // include partials/logo 
    // include partials/mute
    block content
    include partials/analytics
  
