block hud
  
  // YOUR CODE
  script(src='/javascripts/editors/hud.js')  

  // YOUR STYLE  
  link(rel='stylesheet', href='/stylesheets/editors/hud.css')
  hud
    board
      button ne
      button na
      button na
      button na
      button analyser on
      button audio on
      
      display beats
      display 128

    bash
      textarea#bash_window
      // input(type='text')
