extends ../layout

block content
  
  content
    header This is the header
    #trackgrid

  // YOUR CODE
  script(src='/javascripts/editors/TrackEditor.js')  

  // YOUR STYLE
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/editors/trackeditor.css')
