extends ../layout

block content

  #button_sheet_1.sheet_button
  #button_sheet_2.sheet_button

  content
  
    //header This is the header
    #trackgrid

  // YOUR CODE
  script(src='/javascripts/editors/TrackEditor.js')  

  // YOUR STYLE
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/editors/trackeditor.css')
