doctype html
html
  head
    title= title
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/remotes/gamepadcontroller_remote.css')

  body
    | Give your socket id to connect
    
    h1.large Gamepad remote
    
    h1.large.info#infobox
      #left_x
      #left_y

    .test
      a.button(href="#")
        | test

    label gamepad id
    br
    input#gamepad_id
    
    script(src='/javascripts/remotes/gamepadcontroller_remote.js')
    include ../partials/analytics
