doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui')
    
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    script(src='/javascripts/src/GlRenderer.js')
    script(src='/javascripts/src/modules/Mixer.js')
    script(src='/javascripts/src/modules/Monitor.js')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/remotes/videotracker_remote.css')

  body
    
    header
    
    #page1_player.tracker_grid_container
      #previews
        |previews come here 
        
      #instruments.scrollable
        table
          - for(var j=0; j < 24; j++)
            tr
              td= j
              td= "video" + j
            
        
      #tracker 
        |active tracker comes here
        | for now, actual canvas:
        br
        canvas#glcanvas
        
        br
        | monitoring canvas
        br
        canvas#monitoring_canvas
      
        br
        | monitoring canvasses
        canvas.small#monitoring_canvas_1  
        canvas.small#monitoring_canvas_2
        canvas.small#monitoring_canvas_3 
        canvas.small#monitoring_canvas_4 
        canvas.small#monitoring_canvas_5 
        canvas.small#monitoring_canvas_6 
        canvas.small#monitoring_canvas_7
        canvas.small#monitoring_canvas_8 
        canvas.small#monitoring_canvas_9
        canvas.small#monitoring_canvas_10
        
    #page2_instrument.instrument_grid_container
      #effects1
        active effects?
      #effects2
        active effects?
        
      #notes
        cue points, through notes 
        
    // add remote javascript
    script(src='/javascripts/remotes/videotracker_remote.js')
    include ../partials/analytics
