doctype html
html
  head
    title VMX :: Remote Controller
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/remotes/videotracker_remote.css')

  body(style="margin:0;padding:0;")      
    canvas(class="small" id="preview_canvas_1" width="1280" height="720" style="width: 100vw; height: 100vh;")

script(src='/javascripts/remotes/videotracker/preview.js')
  
