body, html {
  background-color: #333333;
  color: #e8e8e8;
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  overflow: hidden; }

header {
  height: 25px;
  width: 100vw;
  background-color: red;
  position: absolute;
  display: block;
  z-index: 1; }

.scrollable {
  overflow-y: auto; }

.tracker_grid_container {
  position: absolute;
  display: grid;
  top: 25px;
  height: calc( 100vh - 50px);
  width: 100vw;
  background-color: orange;
  grid-template-columns: 5% 25% 25% 25% 20%;
  grid-template-rows: 24vw;
  grid-template-areas: "previews previews previews previews instruments" "sheets tracker tracker tracker tracker";
  left: -100vw;
  transition-duration: 0.6s; }
  .tracker_grid_container.selected {
    left: 0; }

#previews {
  grid-area: previews;
  background-color: blue;
  overflow: hidden;
  display: flex; }
  #previews #master_previews {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center; }
    #previews #master_previews canvas {
      background-color: black;
      width: 90% !important;
      height: 80% !important;
      display: inline; }
  #previews #channel_previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60vw; }
    #previews #channel_previews canvas.small {
      background-color: purple;
      width: 24% !important;
      height: 34% !important;
      display: inline;
      margin: 2px; }

#instruments {
  grid-area: instruments;
  background-color: green; }
  #instruments table {
    width: 100%; }
  #instruments tr {
    cursor: pointer; }
  #instruments tr.selected {
    background-color: white;
    color: black; }
    #instruments tr.selected input.instrument {
      color: black; }
  #instruments input.instrument {
    width: 100%;
    background-color: unset;
    border: 0;
    font-family: monospace;
    color: white; }
  #instruments td.instrument_pointer {
    text-align: center; }

#sheets {
  grid-area: sheets;
  background-color: #3388AA;
  width: 100%;
  height: 100%; }

#tracker {
  grid-area: tracker;
  background-color: grey;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
  width: 100%; }
  #tracker #main_table {
    top: 250px;
    margin-bottom: 780px;
    position: relative;
    width: 100%; }
    #tracker #main_table #highlight {
      position: fixed;
      opacity: 0.5;
      background-color: yellow;
      height: 14px;
      width: 100%;
      margin-top: 2px;
      pointer-events: none;
      filter: saturate(1.5) opacity(0.6) contrast(1.4); }
  #tracker table.header {
    position: fixed;
    z-index: 1;
    background-color: darkgrey;
    width: 95%;
    margin-top: 0px; }
  #tracker table {
    border-color: black;
    width: 100%; }
    #tracker table tr, #tracker table td {
      height: 14px;
      padding: 0; }
    #tracker table tr.highlight_beat td {
      background-color: #666; }
    #tracker table td.selected {
      background-color: #CCCCCC99 !important;
      color: black; }
    #tracker table td.trnum {
      text-align: center; }
    #tracker table td.mono {
      font-family: monospace;
      font-size: 10px;
      background: black;
      color: white; }
    #tracker table td.cell {
      width: 12vw; }
    #tracker table td span.selected {
      background-color: white;
      color: black; }
    #tracker table td .trigger_cell {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      #tracker table td .trigger_cell span {
        text-align: center;
        border-left: solid 1px #666;
        display: inline-block;
        width: 16.6666%;
        height: auto;
        text-align: center; }
      #tracker table td .trigger_cell .index {
        display: inline-block; }
      #tracker table td .trigger_cell .note {
        display: inline-block; }
      #tracker table td .trigger_cell .effect {
        display: inline-block; }
      #tracker table td .trigger_cell input {
        display: inline-block;
        width: 16.6666%;
        font-size: 12px;
        border: none;
        font-family: monospace;
        padding: 0;
        margin: 0;
        text-align: center;
        border-left: 1px solid grey;
        border-right: 1px solid grey; }

canvas.cue-canvas {
  width: 64px;
  height: 64px;
  background-color: darkgrey; }

#page2_instrument.instrument_grid_container {
  position: absolute;
  display: grid;
  top: 25px;
  left: 100vw;
  padding: 0;
  width: 100vw;
  height: calc( 100vh - 25px);
  transition-duration: 0.6s;
  background-color: purple;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto 240px;
  grid-template-areas: "cuelist maincenter preview" "cueeditor cueeditor cueeditor"; }
  #page2_instrument.instrument_grid_container.selected {
    left: 0vw; }
  #page2_instrument.instrument_grid_container #cuelist {
    grid-area: cuelist;
    background-color: blue; }
    #page2_instrument.instrument_grid_container #cuelist .cue-still canvas.cue-canvas {
      width: 64px;
      height: 64px;
      background-color: darkgrey; }
  #page2_instrument.instrument_grid_container .main {
    grid-area: maincenter;
    background-color: green;
    padding: 16px 12px; }
    #page2_instrument.instrument_grid_container .main #instrument_video {
      width: 100%; }
  #page2_instrument.instrument_grid_container .preview {
    grid-area: preview;
    background-color: brown; }
    #page2_instrument.instrument_grid_container .preview #instrument_video {
      width: 100%; }
  #page2_instrument.instrument_grid_container .cueeditor {
    grid-area: cueeditor;
    background-color: yellow;
    cursor: pointer; }
    #page2_instrument.instrument_grid_container .cueeditor canvas#cue_canvas {
      background-color: black; }

/*# sourceMappingURL=videotracker_remote.css.map */