
$accent-color: #fbbc04
$blue: #1e90ff
$blue_alt1: #4466aa
$blue_alt2: #3388AA

$black: #050505
$darker: #333333
$dark: #454545
$mid: #888888
$light: #b9b9b9
$lighter: #e8e8e8
$white: #F5F5F5

body, html
  background-color: $darker
  color: $lighter
  margin: 0
  padding: 0
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace
  overflow: hidden

input, select
  color: $blue
  background-color: $black
  font-size: bolder

header
  height: 25px
  width: 100vw
  background-color: $mid
  position: absolute
  display: block
  z-index: 1

.scrollable
  overflow-y: auto

.tracker_grid_container
  position: absolute
  display: grid
  top: 25px
  height: calc( 100vh - 50px )
  width: 100vw
  background-color: $darker
  grid-template-columns: 5% 25% 25% 25% 20%
  grid-template-rows: 24vw
  grid-template-areas: "previews previews previews previews instruments" "sheets tracker tracker tracker tracker"
  left: -100vw
  transition-duration: 0.6s

  &.selected
    left: 0

#previews
  grid-area: previews
  background-color: $darker
  overflow: hidden
  display: flex

  #master_previews
    display: flex
    width: 40vw
    justify-content: space-around
    align-items: center

    canvas
      background-color: black
      width: 90% !important
      height: 80% !important
      display: inline

  #channel_previews
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    width: 60vw

    canvas.small
      background-color: $darker
      width: 24% !important
      height: 34% !important
      display: inline
      margin: 2px

#instruments
  grid-area: instruments
  background-color: $darker

  table
    width: 100%

  tr
    cursor: pointer

  tr.selected
    background-color: $lighter
    color: $black

    input.instrument
      color: $black

  input.instrument
    width: 100%
    background-color: unset
    border: 0
    font-family: monospace
    color: $light

  td.instrument_pointer
    text-align: center

#sheets
  grid-area: sheets
  background-color: $darker

  .sheets_container
    width: 100%
    height: 480px
    display: flex
    flex-direction: row
    justify-content: space-around
    align-content: center
    align-items: baseline
    flex-wrap: wrap

    .sheet
      width: 63%
      height: 32px
      background-color: $light
      margin: 10px 0px

    button
      margin-top: 12px

#tracker
  grid-area: tracker
  background-color: $mid
  //height: calc( 100vh - 230px)
  overflow-x: hidden
  overflow-y: scroll
  height: 800px
  width: 100%

  #main_table
    top: 250px
    // margin-bottom: 514px --? on mac?
    // margin-bottom: 687px /* on pc? */
    // margin-bottom: calc( 1028px )
    margin-bottom: 1114px
    // 1114.73x1024
    //calc( 50vh - 14px );
    position: relative
    width: 100%

    #highlight
      position: fixed
      opacity: 0.5
      background-color: $accent-color
      height: 14px
      width: 100%
      margin-top: 2px
      pointer-events: none
      filter: saturate(1.5) opacity(0.6) contrast(1.4)

  table.header
    position: fixed
    z-index: 1
    background-color: $dark
    width: 95%
    margin-top: -0px /* why though? */

  table
    border-color: $darker
    width: 100%

    tr, td
      height: 14px !important
      padding: 0
      overflow: hidden
      font-size: 12px

    tr.highlight_beat td
      background-color: $light
      color: $darker
      font-weight: bolder

    td
      &.selected
        background-color: $light !important
        color: $black

      &.trnum
        text-align: center

      &.mono
        font-family: monospace
        background: $darker
        color: $white

      &.cell
        width: 12vw

      span.selected
        background-color: $white
        color: $darker

      .trigger_cell
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-around

        span
          text-align: center
          border-left: solid 1px $mid
          display: inline-block
          width: 16.6666%
          height: auto
          text-align: center

        .index
          display: inline-block

        .note
          display: inline-block

        .effect
          display: inline-block

        input
          display: inline-block
          //max-width: 20px
          width: 16.6666%
          font-size: 12px
          border: none
          font-family: monospace
          padding: 0
          margin: 0
          text-align: center
          border-left: 1px solid $mid
          border-right: 1px solid $mid
          height: 14px
          color: $white

        select
          height: 14px
          font-size: 11px
          color: $white

canvas.cue-canvas
  width: 64px
  height: 64px
  background-color: $dark

#page2_instrument.instrument_grid_container
  position: absolute
  display: grid
  top: 25px
  left: 100vw
  padding: 0
  width: 100vw
  height: calc( 100vh - 25px)
  transition-duration: 0.6s
  background-color: $darker

  // -----------------------
  // |    |           |     |
  // |    |           |     |
  // ------------------------
  // |______________________|

  grid-template-columns: 20% 60% 20%
  grid-template-rows: auto 240px
  grid-template-areas: "cuelist maincenter preview" "cueeditor cueeditor cueeditor"

  &.selected
    left: 0vw

  #cuelist
    grid-area: cuelist
    background-color: $darker
    max-height: 80vh
    overflow-y: scroll

    .cue-containers
      display: flex
      flex-direction: column

      div
        //display: flex

        .cue-container
          display: flex
          flex-direction: row
          width: 100%
          justify-content: space-evenly
          align-content: space-around
          text-align: center

          .cue-still
            canvas.cue-canvas
              width: 64px
              height: 64px
              background-color: $dark

  .main
    grid-area: maincenter
    background-color: $darker
    padding: 16px 12px

    h1.title

    #instrument_video
      width: 100%
      max-height: 50vh

  .preview
    grid-area: preview
    background-color: $black

    #instrument_video
      width: 100%

  .cueeditor
    grid-area: cueeditor
    background-color: $darker
    cursor: pointer

    .playhead
      background-color: $accent-color
      position: absolute
      width: 2px
      left: 100px
      height: 100%
      pointer-events: none

    .cues
      // container
      position: absolute
      width: 100%
      height: 100%
      pointer-events: none

      .cue-marker
        height: 100%
        width: 100px
        background-color: #88882288
        position: absolute

        .handle
          width: 8px
          position: absolute
          z-index: 10
          height: 100%
          background-color: #888822FF
          pointer-events: all

          &.left_handle
            left: 0

          &.right_handle
            right: 0

          &:hover
            background-color: red

          &:active
            background-color: blue


    canvas#cue_canvas
      background-color: $black
