body, html {
  background-color: #333333;
  color: #e8e8e8;
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  overflow: hidden; }

input, select {
  color: #1e90ff;
  background-color: #050505;
  font-size: bolder; }

header {
  height: 25px;
  width: 100vw;
  background-color: #888888;
  position: absolute;
  display: block;
  z-index: 1; }

.scrollable {
  overflow-y: auto; }

.tracker_grid_container {
  position: absolute;
  display: grid;
  top: 25px;
  height: calc( 100vh - 50px);
  width: 100vw;
  background-color: #333333;
  grid-template-columns: 5% 25% 25% 25% 20%;
  grid-template-rows: 24vw;
  grid-template-areas: "previews previews previews previews instruments" "sheets tracker tracker tracker tracker";
  left: -100vw;
  transition-duration: 0.6s; }
  .tracker_grid_container.selected {
    left: 0; }

#previews {
  grid-area: previews;
  background-color: #333333;
  overflow: hidden;
  display: flex; }
  #previews #master_previews {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center; }
    #previews #master_previews canvas {
      background-color: black;
      width: 90% !important;
      height: 80% !important;
      display: inline; }
  #previews #channel_previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60vw; }
    #previews #channel_previews canvas.small {
      background-color: #333333;
      width: 24% !important;
      height: 34% !important;
      display: inline;
      margin: 2px; }

#instruments {
  grid-area: instruments;
  background-color: #333333; }
  #instruments table {
    width: 100%; }
  #instruments tr {
    cursor: pointer; }
  #instruments tr.selected {
    background-color: #e8e8e8;
    color: #050505; }
    #instruments tr.selected input.instrument {
      color: #050505; }
  #instruments input.instrument {
    width: 100%;
    background-color: unset;
    border: 0;
    font-family: monospace;
    color: #b9b9b9; }
  #instruments td.instrument_pointer {
    text-align: center; }

#sheets {
  grid-area: sheets;
  background-color: #333333;
  text-align: center; }
  #sheets .sheets_container {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    cursor: pointer; }
    #sheets .sheets_container .sheet {
      width: 63%;
      height: 32px;
      background-color: #b9b9b9;
      margin: 10px 0px; }
      #sheets .sheets_container .sheet.selected {
        background-color: #fbbc04; }
    #sheets .sheets_container button {
      margin-top: 12px; }

#tracker {
  grid-area: tracker;
  background-color: #888888;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
  width: 100%; }
  #tracker #main_table {
    top: 250px;
    margin-bottom: 1114px;
    position: relative;
    width: 100%; }
    #tracker #main_table #highlight {
      position: fixed;
      opacity: 0.5;
      background-color: #fbbc04;
      height: 14px;
      width: 100%;
      margin-top: 2px;
      pointer-events: none;
      filter: saturate(1.5) opacity(0.6) contrast(1.4); }
  #tracker table.header {
    position: fixed;
    z-index: 1;
    background-color: #454545;
    width: 95%;
    margin-top: 0px; }
  #tracker table {
    border-color: #333333;
    width: 100%; }
    #tracker table tr, #tracker table td {
      height: 14px !important;
      padding: 0;
      overflow: hidden;
      font-size: 12px; }
    #tracker table tr.highlight_beat td {
      background-color: #b9b9b9;
      color: #333333;
      font-weight: bolder; }
    #tracker table td.selected {
      background-color: #b9b9b9 !important;
      color: #050505; }
    #tracker table td.trnum {
      text-align: center; }
    #tracker table td.mono {
      font-family: monospace;
      background: #333333;
      color: #F5F5F5; }
    #tracker table td.cell {
      width: 12vw; }
    #tracker table td span.selected {
      background-color: #F5F5F5;
      color: #333333; }
    #tracker table td .trigger_cell {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      #tracker table td .trigger_cell span {
        text-align: center;
        border-left: solid 1px #888888;
        display: inline-block;
        width: 16.6666%;
        height: auto;
        text-align: center; }
      #tracker table td .trigger_cell .index {
        display: inline-block; }
      #tracker table td .trigger_cell .note {
        display: inline-block; }
      #tracker table td .trigger_cell .effect {
        display: inline-block; }
      #tracker table td .trigger_cell input {
        display: inline-block;
        width: 16.6666%;
        font-size: 12px;
        border: none;
        font-family: monospace;
        padding: 0;
        margin: 0;
        text-align: center;
        border-left: 1px solid #888888;
        border-right: 1px solid #888888;
        height: 14px;
        color: #F5F5F5; }
      #tracker table td .trigger_cell select {
        height: 14px;
        font-size: 11px;
        color: #F5F5F5; }

canvas.cue-canvas {
  width: 64px;
  height: 64px;
  background-color: #454545; }

#page2_instrument.instrument_grid_container {
  position: absolute;
  display: grid;
  top: 25px;
  left: 100vw;
  padding: 0;
  width: 100vw;
  height: calc( 100vh - 25px);
  transition-duration: 0.6s;
  background-color: #333333;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto 240px;
  grid-template-areas: "cuelist maincenter preview" "cueeditor cueeditor cueeditor"; }
  #page2_instrument.instrument_grid_container.selected {
    left: 0vw; }
  #page2_instrument.instrument_grid_container #cuelist {
    grid-area: cuelist;
    background-color: #333333;
    max-height: 80vh;
    overflow-y: scroll; }
    #page2_instrument.instrument_grid_container #cuelist .cue-containers {
      display: flex;
      flex-direction: column; }
      #page2_instrument.instrument_grid_container #cuelist .cue-containers div .cue-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-content: space-around;
        text-align: center; }
        #page2_instrument.instrument_grid_container #cuelist .cue-containers div .cue-container .cue-still canvas.cue-canvas {
          width: 64px;
          height: 64px;
          background-color: #454545; }
  #page2_instrument.instrument_grid_container .main {
    grid-area: maincenter;
    background-color: #333333;
    padding: 16px 12px; }
    #page2_instrument.instrument_grid_container .main #instrument_video {
      width: 100%;
      max-height: 50vh; }
  #page2_instrument.instrument_grid_container .preview {
    grid-area: preview;
    background-color: #050505; }
    #page2_instrument.instrument_grid_container .preview #instrument_video {
      width: 100%; }
  #page2_instrument.instrument_grid_container .cueeditor {
    grid-area: cueeditor;
    background-color: #333333;
    cursor: pointer; }
    #page2_instrument.instrument_grid_container .cueeditor .playhead {
      background-color: #fbbc04;
      position: absolute;
      width: 2px;
      left: 100px;
      height: 100%;
      pointer-events: none; }
    #page2_instrument.instrument_grid_container .cueeditor .cues {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none; }
      #page2_instrument.instrument_grid_container .cueeditor .cues .cue-marker {
        height: 100%;
        width: 100px;
        background-color: #88882288;
        position: absolute; }
        #page2_instrument.instrument_grid_container .cueeditor .cues .cue-marker .handle {
          width: 8px;
          position: absolute;
          z-index: 10;
          height: 100%;
          background-color: #888822FF;
          pointer-events: all; }
          #page2_instrument.instrument_grid_container .cueeditor .cues .cue-marker .handle.left_handle {
            left: 0; }
          #page2_instrument.instrument_grid_container .cueeditor .cues .cue-marker .handle.right_handle {
            right: 0; }
          #page2_instrument.instrument_grid_container .cueeditor .cues .cue-marker .handle:hover {
            background-color: red; }
          #page2_instrument.instrument_grid_container .cueeditor .cues .cue-marker .handle:active {
            background-color: blue; }
    #page2_instrument.instrument_grid_container .cueeditor canvas#cue_canvas {
      background-color: #050505; }

/*# sourceMappingURL=videotracker_remote.css.map */