body, html {
  background-color: #333333;
  color: #e8e8e8;
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  overflow: hidden; }

header {
  height: 25px;
  width: 100vw;
  background-color: red;
  position: absolute;
  display: block;
  z-index: 1; }

.scrollable {
  overflow-y: auto; }

.tracker_grid_container {
  position: absolute;
  display: grid;
  top: 25px;
  height: calc( 100vh - 50px);
  width: 100vw;
  background-color: orange;
  grid-template-columns: 26.66% 26.66% 26.66% 20%;
  grid-template-rows: 24vw;
  grid-template-areas: "previews previews previews instruments" "tracker tracker tracker tracker"; }

#previews {
  grid-area: previews;
  background-color: blue;
  overflow: hidden;
  display: flex; }
  #previews #master_previews {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center; }
    #previews #master_previews canvas {
      background-color: black;
      width: 90% !important;
      height: 80% !important;
      display: inline; }
  #previews #channel_previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60vw; }
    #previews #channel_previews canvas.small {
      background-color: purple;
      width: 24% !important;
      height: 34% !important;
      display: inline;
      margin: 2px; }

#instruments {
  grid-area: instruments;
  background-color: green; }
  #instruments table {
    width: 100%; }
  #instruments tr {
    cursor: pointer; }
  #instruments tr.selected {
    background-color: white;
    color: black; }
    #instruments tr.selected input.instrument {
      color: black; }
  #instruments input.instrument {
    width: 100%;
    background-color: unset;
    border: 0;
    font-family: monospace;
    color: white; }

#tracker {
  grid-area: tracker;
  background-color: grey;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px; }
  #tracker #main_table {
    top: 250px;
    margin-bottom: 780px;
    position: relative;
    width: 100%; }
    #tracker #main_table #highlight {
      position: fixed;
      opacity: 0.5;
      background-color: yellow;
      height: 14px;
      width: 100%;
      margin-top: 2px;
      pointer-events: none;
      filter: saturate(1.5) opacity(0.6) contrast(1.4); }
  #tracker table.header {
    position: fixed;
    z-index: 1;
    background-color: darkgrey; }
  #tracker table {
    border-color: black;
    width: 100%; }
    #tracker table tr, #tracker table td {
      height: 14px;
      padding: 0; }
    #tracker table tr.highlight_beat td {
      background-color: #666; }
    #tracker table td.selected {
      background-color: #CCCCCC99 !important;
      color: black; }
    #tracker table td.trnum {
      text-align: center; }
    #tracker table td.mono {
      font-family: monospace;
      font-size: 10px;
      background: black;
      color: white; }
    #tracker table td.cell {
      width: 12vw; }
    #tracker table td span.selected {
      background-color: white;
      color: black; }
    #tracker table td .trigger_cell {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      #tracker table td .trigger_cell span {
        text-align: center;
        border-left: solid 1px #666;
        display: inline-block;
        min-width: 20%;
        height: auto; }
      #tracker table td .trigger_cell .index {
        display: inline-block; }
      #tracker table td .trigger_cell .note {
        display: inline-block; }
      #tracker table td .trigger_cell .effect {
        display: inline-block; }
      #tracker table td .trigger_cell input {
        display: inline-block;
        max-width: 20px;
        font-size: 12px;
        border: none;
        font-family: monospace;
        padding: 0;
        margin: 0; }

.instrument_grid_container {
  position: absolute;
  display: grid;
  top: 50px;
  padding: 0;
  width: 100vw;
  height: calc( 100vw - 50px);
  transition-duration: 0.6s;
  left: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  grid-template-areas: "effects" "notes"; }

#page2_instrument {
  display: none; }

/*# sourceMappingURL=videotracker_remote.css.map */