body, html
  background-color: #333333
  color: #e8e8e8
  margin: 0
  padding: 0
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace

header
  height: 25px
  width: 100vw
  background-color: red
  position: absolute
  display: block
  z-index: 1

.scrollable
  overflow-y: auto

@mixin grid_container
  position: absolute
  display: grid
  top: 50px
  // padding-top: 12px
  // padding-bottom: 12px
  padding: 0
  width: 100vw
  height: calc( 100vw - 50px )
  transition-duration: 0.6s
  // background: radial-gradient(#1a1d22, #121318)

.tracker_grid_container
  //@include grid_container
  position: absolute
  display: grid
  top: 25px
  height: calc( 100vh - 50px )
  width: 100vw
  background-color: orange
  grid-template-columns: 26.66% 26.66% 26.66% 20%
  grid-template-rows: 312px
  grid-template-areas: "previews previews previews instruments" "tracker tracker tracker tracker"

#previews
  grid-area: previews
  background-color: blue
  overflow: hidden
  display: flex

  #master_previews
    display: flex
    width: 40vw
    justify-content: space-around
    align-items: center

    canvas
      background-color: black
      width: 90% !important
      height: 80% !important
      display: inline

  #channel_previews
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center;
    width: 60vw

    canvas.small
      background-color: purple
      width: 24% !important
      height: 90px !important
      display: inline
      margin: 2px

#instruments
  grid-area: instruments
  background-color: green

#tracker
  grid-area: tracker
  background-color: grey
  //height: calc( 100vh - 230px)
  overflow-x: hidden
  overflow-y: scroll
  height: 800px

  #main_table
    top: 250px
    // margin-bottom: 514px --? on mac?
    // margin-bottom: 687px /* on pc? */
    // margin-bottom: calc( 1028px )
    margin-bottom: 780px
    // 1114.73x1024
    //calc( 50vh - 14px );
    position: relative
    width: 100%

    #highlight
      position: fixed
      opacity: 0.5
      background-color: yellow
      height: 14px
      width: 100%
      margin-top: 4px

  table.header
    position: fixed
    z-index: 1
    background-color: darkgrey

  table
    border-color: black
    border-width: 5px
    width: 100%

    td.trnum
      text-align: center

    td.mono
      font-family: monospace
      font-size: 10px
      background: black
      color: white

    tr.highlight_beat td
      background-color: #999

    td
      .trigger_cell
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-around

        .index
          display: inline-block

        .note
          display: inline-block

        .effect
          display: inline-block


.instrument_grid_container
  @include grid_container
  left: 100vw
  grid-template-columns: 100%
  grid-template-rows: 25% 75%
  grid-template-areas: "effects" "notes"

#page2_instrument
  display: none
