@font-face {
  font-family: mini7_bold;
  src: url("https://virtualmixproject.com/fonts/MINI 7 Bold.ttf"); }

@font-face {
  font-family: mini7_bold_condensed;
  src: url("https://virtualmixproject.com/fonts/MINI 7 Condensed Bold.ttf"); }

@font-face {
  font-family: mini7_condensed;
  src: url("https://virtualmixproject.com/fonts/MINI 7 Condensed.ttf"); }

body {
  background-color: black;
  color: white;
  font-family: mini7_condensed;
  font-size: 12px;
  line-height: 18px;
  -webkit-tap-highlight-color: transparent; }

strong {
  font-family: mini7_bold_condensed;
  font-size: 110%;
  line-height: 18px; }

verystrong {
  font-family: mini7_bold;
  font-size: 120%;
  line-height: 18px; }

.scroll_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll; }

.grid_container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
<<<<<<< HEAD
  grid-template-columns: repeat(auto-fill, 33%);
=======
  grid-template-columns: repeat(auto-fill, 0.33fr);
>>>>>>> 5ab4aa5834392b90577613624fa7b7b7fc52517b
  grid-template-rows: fit-content(33%) fit-content(33%) fit-content(33%);
  position: absolute;
  left: calc( 50% - 40vw);
  top: 8%;
  height: 50vh;
  width: 80vw;
  grid-auto-flow: column; }
  .grid_container > div {
    background-color: #231f20;
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: max-content;
<<<<<<< HEAD
    mix-blend-mode: color-dodge;
    filter: contrast(120%) brightness(120%) opacity(70%) saturate(200%);
=======
    mix-blend-mode: overlay;
    filter: contrast(120%) brightness(100%) opacity(50%) saturate(200%);
>>>>>>> 5ab4aa5834392b90577613624fa7b7b7fc52517b
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    pointer-events: all; }
    .grid_container > div .go_button {
      display: none; }
<<<<<<< HEAD
    .grid_container > div .hidden_content {
      display: none; }
=======
>>>>>>> 5ab4aa5834392b90577613624fa7b7b7fc52517b
    .grid_container > div:hover {
      transform: scale(1.15);
      box-shadow: 0px 24px 32px rgba(21, 21, 21, 0.72);
      z-index: 3;
      mix-blend-mode: luminosity;
      filter: contrast(80%) brightness(70%) opacity(50%) saturate(200%);
      outline: none;
      transition-duration: 0.1s; }
    .grid_container > div.active {
      z-index: 2;
      transform: scale(1.2);
      mix-blend-mode: hard-light;
      filter: contrast(100%) brightness(110%) opacity(100%) saturate(110%);
      box-shadow: 0px 24px 32px rgba(21, 21, 21, 0.72); }
      .grid_container > div.active .go_button {
        display: inline; }
<<<<<<< HEAD
      .grid_container > div.active .hidden_content {
        display: inline; }
=======
>>>>>>> 5ab4aa5834392b90577613624fa7b7b7fc52517b
    .grid_container > div .item_image {
      background-color: black;
      grid-row-end: span 2;
      margin: 8px;
      background-image: url("https://lorempixel.com/g/400/500/");
      background-size: cover;
      background-repeat: no-repeat; }
    .grid_container > div .titel {
      font-size: 18px;
      grid-column-end: span 2;
      padding: 9px;
      text-align: center;
      color: #d7d0cd; }
    .grid_container > div .content {
      background-color: #d7d0cd;
      grid-column-end: span 2;
      color: #231f20;
      margin: 8px;
      margin-left: 0px;
      text-align: justify;
      padding: 9px; }
  .grid_container .grid_item_large {
    grid-row-end: span 2; }
    .grid_container .grid_item_large .titel {
      grid-column-end: span 3; }
    .grid_container .grid_item_large .content {
      grid-column-end: span 3;
      margin-left: 8px; }
  .grid_container .grid_item:nth-child(2) .item_image {
    background-image: url("/images/vmp_demo/notv.png"); }
  .grid_container .grid_item:nth-child(3) .item_image {
<<<<<<< HEAD
    background-image: url("/images/vmp_demo/edirol.png"); }
  .grid_container .grid_item:nth-child(4) .item_image {
    background-image: url("/images/vmp_demo/veejays.png"); }
  .grid_container .grid_item:nth-child(5) .item_image {
    background-image: url("/images/vmp_demo/occupy.png"); }
  .grid_container .grid_item:nth-child(6) .item_image {
    background-image: url("/images/vmp_demo/computer_demos.png"); }
  .grid_container .grid_item:nth-child(7) .item_image {
    background-image: url("/images/vmp_demo/powerglove.png"); }
  .grid_container .grid_item:nth-child(8) .item_image {
    background-image: url("/images/vmp_demo/iwantyou.png"); }
=======
    background-image: url("/images/vmp_demo/veejays.png"); }
  .grid_container .grid_item:nth-child(4) .item_image {
    background-image: url("/images/vmp_demo/occupy.png"); }
  .grid_container .grid_item:nth-child(5) .item_image {
    background-image: url("/images/vmp_demo/edirol.png"); }
>>>>>>> 5ab4aa5834392b90577613624fa7b7b7fc52517b

@media only screen and (max-width: 720px) {
  .grid_container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    position: absolute;
    left: calc( 50% - 40vw);
    top: 10%;
    height: 50vh;
    width: 80vw;
    grid-auto-flow: column;
    grid-auto-flow: row; }
    .grid_container > div:hover {
      transform: scale(1); }
    .grid_container > div:last-child {
      margin-bottom: 1280px; }
    .grid_container > div.active {
      transform: scale(1.2);
      mix-blend-mode: hard-light;
      filter: contrast(100%) brightness(120%) opacity(92%); } }

/*# sourceMappingURL=vmp_demo.css.map */