extends ../layout

block content  
    
    
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/compositions/demo_gamepad.css')

  body 
    canvas#glcanvas

    .test 
      a.button(href="#")
        | test

    script(src='/compositions/demo_gamepad.js')
    include ../partials/analytics
