doctype html
html
  head
    title= title    
      
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/compositions/example_edirol_v4.css')
    
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  
  body 
    a.logo(href='/')
    .loader#loader 
      | COMPILING SHADERS ...
      br
      | Your computer might seem stuck for a couple of seconds, sorry.
      br
      br
      | Afaik there is no real way around this.
    canvas#glcanvas

    #mixer
      .switch_a
        button#btn_switch_a_1.active
        button#btn_switch_a_2
        button#btn_switch_a_3
        button#btn_switch_a_4
      .switch_b
        button#btn_switch_b_1
        button#btn_switch_b_2.active
        button#btn_switch_b_3
        button#btn_switch_b_4
      
      .bpm_control
        .display#bpm_display 128
        button#bpm_tab
        input#bpm_slide(type='range', min=20 max=240 step=1)
      
      .mix_control 
        button.mix_control#bpm_control_mix.round.greenish.active
        button.mix_control#bpm_control_wipe.round.greenish
        button.mix_control#bpm_control_efx.round.greenish
        button#bpm_control_bpm_sync.round.redish
      .main_pod 
        input#main_pod(type='range', min=0 max=1 step=0.01)
        
      .effects_a
        button.effect_a#btn_effects_a_1.round
          label MONO
        button.effect_a#btn_effects_a_2.round 
          label NEGA          
        button.effect_a#btn_effects_a_3.round 
          label B-KEY          
        button.effect_a#btn_effects_a_4.round 
          label COLRZ                    
      .effects_a_control
        input#effects_a_control(type='range', min=0 max=1 step=0.01)
      
      .effects_b
        button.effect_b#btn_effects_b_1.round
          label PAINT
        button.effect_b#btn_effects_b_2.round
          label MULTI
        button.effect_b#btn_effects_b_3.round
          label PiP
        button.effect_b#btn_effects_b_4.round
          label FDBCK
      .effects_b_control
        input#effects_b_control(type='range', min=0 max=1 step=0.01)
        
      .transform_a
        button#btn_transform_a
      .transform_b
        button#btn_transform_b
      .dark

    script(src='/compositions/example_edirol_v4.js')
    include ../partials/analytics
