doctype html
html
  head
    title= title    
      
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body 
    canvas#glcanvas

    script(src='/compositions/example1.js')
    include ../partials/analytics
