doctype html
html
	head
		title Olimazi Virtual Mixer
		script(src='/javascripts/build/vendor.js')
		script(src='/javascripts/build/mixer.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/compositions/olimazi.css')
	body
		canvas#glcanvas
		video(width="400px", controls="true", src="file:///G:/_work/VirtualMixClient/resource/jmn_insert_passport.mp4")
