doctype html
html
	head
		title Awesome Virtual Mixer
		script(src='/javascripts/build/vendor.js')
		script(src='/javascripts/build/mixer.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/compositions/midi_piano_test.css')
	body 
		a.logo(href='/')
		canvas#glcanvas
		.blink
		.payoff
			| <h3>midi_piano_test</small></h3>
			| Part of the <a href='https://virtualmixproject.com/''> Virtual Mixer Project </a><br>
			| <small>If you don't hear any music, click somewhere on the screen</small>
			script(src='/compositions/midi_piano_test.js')
			include ../partials/analytics
