extends ../layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  // h1= title
  // p Wikommen to #{title}
  // a(href='http://www.xangadix.net') with a link

  canvas#glcanvas
  .blink
  //#info(style="width:50%;word-break:break-all;")

  // YOUR CODE
  script(src='/compositions/mixer5.js')

  // YOUR STYLE
  link(rel='stylesheet', href='/stylesheets/style.css')
  include ../partials/analytics
