{
    "home": {
        "text":            
            "\
            <div class='article'>\
              <div class='col col_s'>\
                  <h4>About</h4>\
                  <p>\
                  A wayward gathering of creatives focussed on creating the best interactive video experiences on the web.\
                  \
                  </p>\
                  <a href='#projects'>projects</a> | \
                  <a href='#clients'>clients</a> | \
                  <a href='#portfolio'>portfolio</a> | \
                  <a href='#partners'>partners</a> | \
                  <a href='#wtf'>wtf?</a>\
                  <hr>\
                  <br>\
                  <h5>Find us at</h5>\
                  <br/>\
                  <blockquote>\
                      Stationsplein 45<br/>\
                      Unit D1.146 <br/>\
                      3013 AK Rotterdam<br/>\
                      <br />\
                      <small><a href='tel:+31203200981'>00 31 20 3200981</a></small>\
                      <small><a href='mailto:info@sense-studios.com'>info@sense-studios.com</a></small><br/>\
                  </blockquote>\
              </div>\
              <div class='header header_m'>\
                  <span class='heavy'>Sense</span>\
                  Studios<br/>\
                  <span class='light'>\
                      <small>interactive visuals</small>\
                  </span>\
              </div>\
            </div>\
          ",
        "tags": [ ["yellow"], ["home_runner"], [] ],        
        "behaviours": [          
          { channel: 0, label: "random_switch", options: { frequency: 0.0012 } },
          { channel: 0, label: "random_jump", options:   { frequency: 0.003 } },
          { channel: 1, label: "random_switch", options: { frequency: 0.001 } },
          { channel: 1, label: "random_jump", options:   { frequency: 0.004 } }
        ],
        "video1":"",
        "video2":"",
        "bpm":64,
        "blendmode": ""

        // setonce
        // force reset 
        // fadeout 
        // effect 
        // random jump
        // sequencer 
        // joystick input
    },
    "projects": {
      "text":
          "\
          <div class='header header_lg'>\
            <span class='light'>current</span>\
            <span class='heavy'>projects</span>\
          </div>\
          <div class='items'>\
            <div class='item' style='max-width: 420px'>\
                <img width='100%' src='/assets/nabu_themes/sense/project_marduq.png'></img>\
                <div class='item_content'>\
                    <div class='text-center'>\
                      <i class='fa fa-star'/>\
                      <i class='fa fa-star'/>\
                      <i class='fa fa-star'/>\
                    </div>\
                    <blockquote>\
                      Why is video and web-content not more integrated?\
                    </p>\
                    </blockquote>\
                    <p>\
                      We asked this to ourselves in 2005 or so. Why is it that a Twitter feed on television isn't clickable. Why isn't there a Google Map showing with\
                      news articles? Why isn't their a simple way of clicking on an actress to get her IMDB-profile? \
                    </p>\
                    <p>\
                      So we build a platform that easily allows for adding annotation and interaction to any video. Either in a Browser or on a mobile phone.\
                    </p>\
                    <p>\
                      Find out more at <a href='http://www.marduq.tv' target='blank'>Marduq.tv</a>\
                    <p>\
                    <hr>\
                </div>\
            </div>\
            <div class='item'>\
                <img width='100%' src='/assets/nabu_themes/sense/project_test_toolkit.png'></img>\
                <div class='item_content'>\
                    <h4>Ixly Test toolkit</h4>\
                    <p>\
                      Ixly provides a wide range of personality and competence tests. Together with their team of psychologists we have created a series of tests that can\
                      provide insights in reasoning, general knowledge, trade of character and reaction times.\
                    </p>\
                    <a href='http://www.test-toolkit.co.uk/'>Test Toolkit</a>\
                    <hr>\
                </div>\
            </div>\
            <div class='item'>\
                <img width='100%' src='/assets/nabu_themes/sense/project_webcamconsult.png'></img>\
                <div class='item_content'>\
                    <h4>Webcamconsult</h4>\
                    <p>\
                      A lot of semi-official meetings can take place over a Webcam. A visit to the docter, lawyer, law-maker and even your priest, can easily be done through a webcam.\
                      but the connection need to be secure, and everybody need to be able to work with it. In Webcamconsult, we even built a virtual 'waiting room' to make the\
                      experience even more like the real thing\
                    </p>\
                    <p>\
                      Webcamconsult is a webcam consulting service, that runs on all platforms utilizing the amazing powers of WebRTC. It comes fully equiped with a set of tools\
                      that seemlessly integrate with your workflow and existing website. We comply with all neccesary regulations regarding privacy of your clients ant the\
                      integrity of the stream.\
                    </p>\
                    <p>\
                      Try it yourself at <br/><a href='http://www.Webcamconsult.com'>Webcamconsult</a>\
                    </p>\
                    <hr>\
                </div>\
            </div>\
            <div class='item'>\
                <img width='100%' src='/assets/nabu_themes/sense/project_boekgeheim.png'></img>\
                <div class='item_content'>\
                    <h4>Boekgeheim</h4>\
                    <p>\
                      Challanging kids to read more books and write about them can be fun and is very educational. Writing and summerizing books stimulates critical thinking\
                      and asking questions. With Boekgeheim, a kid can become a kind of private detective, researching the books in the school library.\
                    </p>\
                    <p>\
                      The app is used in the class where kids write `case files` for their favourite books, by answering questsions, searching a walled, safe part of the web\
                      or playing a game. The case files can be accessed easily by scanning a QR code, so the results can be shared with parents and teachers.\
                      Teachers can monitor the process, make notes and share the results with others. They can also engage, and add interesting side-content to the books\
                      in school that they deem most intresting.\
                    </p>\
                    <p>\
                      The kids can share their findings online and in the class room, and rate the books together. This shows the class' favourite books and stimulates discussion.\
                      The whole application is optimized for tablet use.\
                    </p>\
                    <a href='http://www.noekgeheim.nl'>Boekgeheim</a>\
                    <hr>\
                </div>\
            </div>\
            <div class='item'>\
                <div class='item_content'>\
                    <h4>Other jobs and projctes</h4>\
                    <p>\
                      Le storey\
                    </p>\
                    <h5>The mixer project</h5>\
                    <p>\
                      Le storey\
                    </p>\
                    <h5>African slum journal</h5>\
                    <p>\
                      Le storey\
                    </p>\
                    <h5>Zoomin Apps and player</h5>\
                    <p>\
                      Le storey\
                    </p>\
                    <h5>Consultancy and Workshops</h5>\
                    <p>\
                      Le storey\
                    </p>\
                    <a href='#home'>home</a>\
                    <hr>\
                </div>\
            </div>\
          </div>\
        ",    
    "video1":"",
    "video2":"",
    "bpm":"",
    "blendmode": "",
    "tags": [ ["nerve"], ["ghost"], [] ],        
    "behaviours": [          
        { channel: 0, label: "random_switch", options: { frequency: 0.002 } },
        { channel: 0, label: "random_jump", options:   { frequency: 0.003 } }, 
        { channel: 0, label: "now", options: { behaviour: "random_switch", frequency: 1 } },
        { channel: 1, label: "random_switch", options: { frequency: 0.004 } },
        { channel: 1, label: "random_jump", options:   { frequency: 0.0004 } }      
      ],
    },
    "partners": {},
    "portfolio": {},          
    "more": {},      
    "wtf": {},      
    "clients": {
        "text":
            "\
            <div class='header header_lg'>\
              <span class='light'>Our</span>\
              <span class='heavy'>Clients</span>\
            </div>\
            <div class='items'>\
              <div class='item'>\
                  <div class='item_content'>\
                      <h4>le list</h4>\
                      <p>\
                        Heineken\
                        Carriere Event\
                        Emerce Eday\
                        June creative\
                        Nationale Carriere Beurs\
                        Sanoma\
                        ABN AMRO\
                        Bijenkorf\
                        Postbank\
                        Inicio Localize\
                        Boekgeheim\
                        Ixly\
                        ANWB\
                        TNO\
                        Apenkooi\
                        African Slum Journal\
                        Webcamconsult\
                        PCM\
                        NLTracks\
                        Tout France\
                        Mediahuis\
                        Accenture\
                        Mediafonds\
                        Streetlab\
                        Pakhuis de Zwijger\
                        Wickedjazzsounds\
                        Boekgeheim\
                        Bever\
                        Movietrader\
                        Pim-Tim\
                        Stageworks\
                        Zoomin\
                        Uitgeverij Thema\
                        Senter Novem\
                        Ministerie van EZ\
                        Bouwend Nederland\
                        Pisang Ambon\
                        Bayer\
                        Medicom\
                        Salt\
                        Agrimeda\
                        ANP/ Novem\
                        Veejays.com\
                        Havenbedrijf Rotterdam\
                        Apenkooi\
                        Mirabeau\
                        Google\
                        Mozilla\
                      </p>\
                      <a href='#home'>home</a>\
                      <hr>\
                  </div>\
              </div>\
            </div>\
      ",
      "tags": [ ["disney"], ["dopewave"], [] ],        
      "behaviours": [          
        { channel: 0, label: "random_switch", options: { frequency: 0.002 } },
        { channel: 0, label: "random_jump", options:   { frequency: 0.003 } },
        { channel: 0, label: "now", options: { behaviour: "random_switch", frequency: 1 } },
        { channel: 1, label: "random_switch", options: { frequency: 0.002 } },
        { channel: 1, label: "random_jump", options:   { frequency: 0.008 } },
        { channel: 1, label: "now", options: { behaviour: "random_switch", frequency: 1 } }
      ],
      "video1":"",
      "video2":"",
      "bpm":"",
      "blendmode": ""
    }
}
include ../partials/analytics
