extends ../layout

block content
  // h1= title
  // p Wikommen to #{title}
  // a(href='http://www.xangadix.net') with a link

  canvas#glcanvas
  .blink
  // pre#info

  // YOUR CODE  
  script(src='/compositions/space.js')  

  // YOUR STYLE
  link(rel='stylesheet', href='/stylesheets/style.css')
  include ../partials/analytics
