doctype html
html
  head
    title Awesome Virtual Mixer
      
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    script 
      | var clicks = 0;
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/compositions/surface1.css')
    
  body(onclick="clicks++; if(clicks==2) document.getElementById('play_button').style.display = 'none'")
    a.logo(href='/')
    #client_id 0000
    button.play_button#play_button
    button.mute_button#mute_button(style="display:none")
    
    
    canvas#glcanvas
    .blink
    
    .payoff
      | <h3> Surface Client </h3>      
      | Part of the <a href="https://virtualmixproject.com/"> Virtual Mixer Project </a><br><br>
      | This is only the <em>Client</em>, open up the <a href="http://virtualmixproject.com/remotes/surface1_remote" target="_blank">REMOTE CONTROL</a>, <br>
      | open it in a different browser or on your phone, as it will control this window.<br><br>
      | There is an <a href="https://www.youtube.com/watch?v=SbQL0M21T_8&t=774s" target="_blank">explanation video</a> here.<br>
      | <small>It's always better with music, put some on. Preferably EDM</small>

    script(src='/compositions/surface1_client.js')
    include ../partials/analytics
