doctype html
html
  head
    title= title

    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/compositions/vmp_demo.css')
    
    meta(name="viewport" content="width=450px, initial-scale=0.7, maximum-scale=0.7")

  body
        
    .site
      .logo
      .scroll_container
        .grid_container
          .grid_item.grid_item_large(tabindex="1")
            .titel
              | the <verystrong>Virtual Mixer Project</verystrong><br>
              | Lets try videomixing in javascript v0.0.1
            .content
              | <p>Javascript realtime video mixer v0.0.1</p>
              | <p>This is a collection channel for the VirtualMixer, you can tune into different generated live mixes. It's better with sound.</p>
              | <pre>
              | so far this is pretty much hammered out 
              | * WebGL (through three.js)
              | * Package
              | * Build tools
              | * Documentation 
              | * MIDI 
              | * Gamepad 
              | * Sockets en remote from mobile devices (on local lan preferably)
              | * -
              |</pre>

              | <br><br>              
              | Please visit the <a href="https://github.com/Sense-Studios/VirtualMixerProject" target="_blank">Github Repository</a><br>
              | Check out live mixes on <a href="https://www.youtube.com/watch?v=jYwPJXsD-mc" target="_blank">Youtube</a><br>
              | NPM Install and read all about it in the <a href="https://virtualmixproject.com/docs/reference/index.html" target="_blank">Documentation</a></br>

          .grid_item(tabindex="2")
            .item_image
            .titel
              | <strong>NOTV</strong> Videomixes by early '00 Amsterdam Veejays
            .content
              | <verystrong>THE ONLY</verystrong> <strong>VJ-DVD</strong> label in amsterdam produced two dvds in the early zeroes with Amsterdams most <strong>critical acclaimed</strong> Visual Mix Artists.

          .grid_item(tabindex="3")
            .item_image
            .titel
              | <verystrong>VEEJAYS.com</verystrong> best demoreeels from class of 2010 till 2016
            .content
              | HIGHLIGHTS of the yearly vjbarle hosted by VEEJAYS.com best talent and seasoned veterans remixed on progressive.

          .grid_item(tabindex="4")
            .item_image
            .titel
              | <strong>OCCOPY CHAOS</strong> a remixed look at the 2011 movement
            .content
              | 2011 a remix of the protest movement and wondrous explosion of happy order in chaotic environments. Much like the great part of the universe.
              | 

          .grid_item(tabindex="5")
            .item_image
            .titel
              | <verystrong>EDIROL V4</verystrong> SIMULATION of the legendary v4 video mixer
            .content
              | SIMULATION that is right, this gadget here simulates a v4 in your browser. no plugin required and should run on mobile phones.
              | <a href="/mixer/example_edirol_v4" class="go_button">go play with it now >></a>

          .grid_item(tabindex="6")
            .item_image
            .titel
              | the DEMOS weird demos and experiments with video
            .content
              | WEIRD inputs, MIDI game controllers. More effects and remote control is where we start with this and push the envelope some more

          .grid_item(tabindex="7")
            .item_image
            .titel
              | ABSOLUTE AWESOME from 2017 onwared. MEMES!
            .content
              | COLLECTED reels found footage, internet weirdness. Strange eighties, programmer brains and what was called recycling together in the mix.

          .grid_item(tabindex="8")
            .item_image
            .titel
              | YOUR CONTENT HERE join in and load up now
            .content
              | CONTENT WANTED, WE're always looking for MORE content to REMIX in our mixers, so don't be sy and load it up now!
          
    canvas#glcanvas

    script(src='/compositions/vmp_demo.js')
