extends ../layout

block content


  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/compositions/demo_gamepad.css')

  body
    | HELLOOOOOO NUHRSE
    
    h1.large SADSADSADSADSAD
    
    h1.large.info#infobox
      #left_x
      #left_y

    .test
      a.button(href="#")
        | test

    label gamepad id
    br
    input#gamepad_id
    
    script(src='/javascripts/controllers/gamepadcontroller_remote.js')
    include ../partials/analytics
